<div class="list-group">
    {% for l in lista %}
    <div class="list-group-item list-group-item-action ative">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Tarefa 1</h5>
        <small>Iniciado em: <strong>22-09-22 19:00</strong></small>
      </div>
      <p>Projeto B</p>
      <p>Lorem ipsum...</p>
      <p class="bg-warning">Urgente | Importante</p>
      <p><a class="btn btn-primary" href="#">Ver</a> <a href="#" class="btn btn-success">START</a> <a href="#" class="btn btn-danger">STOP</a> </p>
    </div>
    {% endfor %}
</div>