<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for("index")}}">
            <span data-feather="home" class="align-text-bottom"></span>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for("project.index") }}">
            <span data-feather="file" class="align-text-bottom"></span>
            Projetos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for("task.index") }}">
            <span data-feather="shopping-cart" class="align-text-bottom"></span>
            Tarefas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="bar-chart-2" class="align-text-bottom"></span>
            Reports
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="layers" class="align-text-bottom"></span>
            ?????
          </a>
        </li>
      </ul>
    </div>
  </nav>
